# setting this to true will automatically approve all inbox entries and create Things for them,
# so that they are immediately available in the system
autoapprove:enabled=false
enocean:serialPort=COM37

mqtt:mygg.url=tcp://localhost:1883
mqtt:mygg.clientId=malaria

addons:voice = marytts
